:root {
    --primary: #000865;
    --accent: #6571ff;
    --background: #FAFAF9;

    --white: #FFFFFF;
    
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #020617;
}

body {
    min-height: 98vh;
    background: var(--background);
    font-family: 'Roboto';
}

.top-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.top-nav__logo {
    margin-right: auto;
    color: var(--primary);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.top-nav__logo--light {
    color: var(--accent);
    font-weight: 300;
}

.top-nav__item {
    margin-right: 0.5rem;
    padding: 0.25rem .75rem;
    border: 1px solid transparent;
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
}

.top-nav__item:last-child {
    margin-right: auto;
}

.top-nav__item:hover {
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 0.5rem;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.sheet {
    display: flex;
    width: 875px;
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: var(--white);
    border-radius: 0.15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0.09);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.footer__text {
    margin: 0 auto;
    color: var(--gray-700);
    font-size: 0.75rem;
}

@media only screen and (max-width: 952px) {

}

@media only screen and (min-width: 952px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1200px) {
}


.wizardly {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 2rem;
}
.wizardly__steps {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.wizardly-step {
    width: auto;
    display: flex;
    flex-group: 1;
}
.wizardly-step__link {
    display: block;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0.469rem 0.8rem;
    background-color: rgb(18, 30, 59);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.wizardly-step__link:hover {
    color: #ffffff;
}
.wizardly-step__link--current {
    background-color: rgb(101, 113, 255);
    border: 1px solid transparent;
}
.wizardly-step__link--active {
    background-color: rgba(101, 113, 225, 0.1);
    color: rgb(101, 113, 255);
    border: 1px solid rgb(101, 113, 255);
    cursor: pointer;
}
.wizardly-step__link--active:hover {
    color: rgb(101, 113, 255);
}
.wizardly__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wizardly-form {
    width: 100%;
    padding-bottom: 1rem;
}

.wizardly-form-entry {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.wizardly-form-entry__delete {
    margin-left: 1.25rem;
}

.wizardly-form-entry__form-group {
    width: 100%;
}

.wizardly-form-entry:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(101, 113, 225)
}

.wizardly-actions {
    display: flex;
    justify-content: space-between;
}

.btn-disabled {
    background: rgb(24, 40, 78);
    border-color: rgb(24, 40, 78);
}

.btn-disabled:hover {
    background: rgb(24, 40, 78);
    border-color: rgb(24, 40, 78);
    cursor: not-allowed;
}

/* Resume Page Layout Styles */
.page__content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-weight: 300;
    font-color: var(--gray-600);
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section--x-centered {
    justify-content: center;
}

.name {
    display: flex;
    font-size: 4.5rem;
    font-weight: 400;
    font-color: var(--gray-700);
    letter-spacing: 0.25rem;
}

.title {
    display: flex;
    margin: 0.75rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}

.details {
    display: flex;
    margin: 0.25rem 0;
    font-size: 1.25rem;
}

.details__item {
    display: flex;
    padding-right: 0.75rem;
}

.details__item:not(:first-child) {
    border-left: 1px solid var(--gray-500);
    padding-left: 0.75rem;
}

.socials {
    display: flex;
    margin: 4rem 0 0 0;
    font-size: 1rem;
}

.socials__item {
    display: flex;
    padding-right: 1rem;
}

.socials__item:not(:first-child) {
    border-left: 1px solid var(--gray-500);
    padding-left: 1rem;
}

.skills {
    display: flex;
}

.skills__item {
    display: flex;
    padding-right: 1rem;
}

.skills__item:not(:first-child) {
    border-left: 1px solid var(--gray-500);
    padding-left: 1rem;
}

.experience-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.experience-details:not(:first-child) {
    margin-top: 0.25rem;
}

.experience-details__title {
    font-weight: 600;
}

.experience-descriptions {
    margin-top: 0.5rem;
}

.experience-descriptions__item {

}

.experience-descriptions__item:not(:first-child) {
    margin-top: 0.25rem;
}

.certification {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.certification__title {
    font-weight: 600;
}

.header {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

.header__text {
    margin: 0 1rem;;
    font-size: 1.25rem;
    font-weight: 400;
    font-color: var(--gray-700);
}

.header-divider {
    width: 100%;
    margin: auto auto;
}

.header-divider__line {
    border-bottom: 1px solid var(--gray-500);
}
