*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary: var(--star-command-500);
    --accent: #ff8243;
    --background: #FAFAF9;

    --white: #FFFFFF;
    
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #020617;

    --star-command-50: #dee8f3;
    --star-command-100: #bdd1e7;
    --star-command-200: #9cbbdc;
    --star-command-300: #78a5d0;
    --star-command-400: #4f90c4;
    --star-command-500: #007bb8;
    --star-command-600: #146697;
    --star-command-700: #195177;
    --star-command-800: #1a3d58;
    --star-command-900: #172a3b;
    --star-command-950: #111921;

    --input-border: var(--gray-900);
    --input-focus-h: 200;
    --input-focus-s: 100%;
    --input-focus-l: 36%;
}

body {
    min-height: 98vh;
    background: var(--background);
    font-family: 'Roboto';
    accent-color: var(--primary);
}

.top-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.top-nav__logo {
    margin-right: auto;
    color: var(--gray-800);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.top-nav__logo--light {
    color: var(--primary);
    font-weight: 300;
}

.top-nav__item {
    margin-right: 0.5rem;
    padding: 0.25rem .75rem;
    border: 1px solid transparent;
    color: var(--gray-800);
    font-weight: 500;
    text-decoration: none;
}

.top-nav__item:last-child {
    margin-right: auto;
}

.top-nav__item:hover {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.top-nav__item--current {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.sheet {
    display: flex;
    width: 875px;
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: var(--white);
    border-radius: 0.15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0.09);
}

.sheet-form {
    width: 100%;
}

.sheet-form__content {

}

.sheet-form-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--gray-400);
}

.sheet-form-header__add-btn {
    align-self: flex-start;
    margin: auto 0;
}

.sheet-form-header__title {
    flex: 1 1 auto;
    align-self: center;
    margin: auto auto;
    font-size: 2.65em;
    text-align: center;
}

.sheet-form-header__save-btn {
    align-self: flex-end;
    margin: auto 0;
}

.entry {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.entry:not(:first-child) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-400);
}

.entry__delete {

}

.entry__fields {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.footer__text {
    margin: 0 auto;
    color: var(--gray-700);
    font-size: 0.75rem;
}

@media only screen and (max-width: 952px) {}

@media only screen and (min-width: 952px) and (max-width: 1200px) {}

@media only screen and (min-width: 1200px) {
}

/* forms and inputs */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.form-group:not(:first-child) {
    margin-top: 1rem;
}

.form-label {
    color: var(--gray-900);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
}

.form-control {
    font-size: 1rem;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--white);
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

.form-control:focus{
    border-color: hsl(
	var(--input-focus-h),
	var(--input-focus-s),
	var(--input-focus-l)
    );
    box-shadow: 0 0 0 3px
        hsla(
	    var(--input-focus-h),
	    var(--input-focus-s),
	    calc(var(--input-focus-l) + 40%),
	    0.8
        );
    outline: 3px solid transparent;
}

.form-control:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

textarea.form-control {
    resize: vertical;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    min-width: 10ch;
    min-height: 44px;
    padding: 0.25em 0.75em;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1.75rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    text-align: center;
    cursor: pointer;
    transition: 220ms all ease-in-out;
}

.btn--primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn--primary:hover,
.btn--primary:active {
    background-color: var(--star-command-600);
}

.btn--primary:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--star-command-600);
}

.btn--outline-primary {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn--outline-primary:hover,
.btn--outline-primary:active {
    background-color: var(--star-command-50);
}

.btn--outline-primary:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--star-command-600);
}

.btn--entry-remove {
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--gray-400);
    border-radius: 15px;
    box-shadow: none;
    color: var(--gray-500);
    font-size: 1em;
    line-height: 1.42;
    transition: none;
}

.btn--entry-remove:hover,
.btn--entry-remove:active {
    background-color: var(--gray-100);
}

.btn--entry-remove:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 2px var(--gray-500);
}

a.btn {
    text-decoration: none;
}

/* Resume Page Layout Styles */
.page__content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-weight: 300;
    font-color: var(--gray-600);
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section--x-centered {
    justify-content: center;
}

.name {
    display: flex;
    font-size: 4.5rem;
    font-weight: 400;
    font-color: var(--gray-700);
    letter-spacing: 0.25rem;
}

.title {
    display: flex;
    margin: 0.75rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}

.details {
    display: flex;
    margin: 0.25rem 0;
    font-size: 1.25rem;
}

.details__item {
    display: flex;
    padding-right: 0.75rem;
}

.details__item:not(:first-child) {
    border-left: 1px solid var(--gray-500);
    padding-left: 0.75rem;
}

.socials {
    display: flex;
    margin: 4rem 0 0 0;
    font-size: 1rem;
}

.socials__item {
    display: flex;
    padding-right: 1rem;
}

.socials__item:not(:first-child) {
    border-left: 1px solid var(--gray-500);
    padding-left: 1rem;
}

.skills {
    display: flex;
}

.skills__item {
    display: flex;
    padding-right: 1rem;
}

.skills__item:not(:first-child) {
    border-left: 1px solid var(--gray-500);
    padding-left: 1rem;
}

.experience-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.experience-details:not(:first-child) {
    margin-top: 0.25rem;
}

.experience-details__title {
    font-weight: 600;
}

.experience-descriptions {
    margin-top: 0.5rem;
}

.experience-descriptions__item {

}

.experience-descriptions__item:not(:first-child) {
    margin-top: 0.25rem;
}

.certification {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.certification__title {
    font-weight: 600;
}

.header {
    display: flex;
    width: 100%;
    margin: 1rem 0;
}

.header__text {
    margin: 0 1rem;;
    font-size: 1.25rem;
    font-weight: 400;
    font-color: var(--gray-700);
}

.header-divider {
    width: 100%;
    margin: auto auto;
}

.header-divider__line {
    border-bottom: 1px solid var(--gray-500);
}
